.node-creator {
    background-color: aquamarine;
    border: 2px black solid;
    width: 5vh;
    height: 5vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}